<p>Autor: Jose Carlos Martinez</p>
<img src = "http://portobellostreet-294832.c.cdn77.org/imagenes_muebles/76199-Thumbnail-Lampara-flexo-cobre-simple.jpg" height="170px" width="240px" />
<iframe width="170" height="170" src="https://www.youtube.com/embed/xyDiJbwnIq0" frameborder="0" allowfullscreen></iframe>
